html, body, #root, .App {
	height: 100%;
}

a {
  color: #222222;
}

a:hover {
  color: #ff88bb;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
    font-family: 'museo300';
    src: url('./font/museao/exljbris_-_museo-300-webfont.woff2') format('woff2'),
         url('./font/museao/exljbris_-_museo-300-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'museo500';
    src: url('./font/museao/exljbris_-_museo-500-webfont.woff2') format('woff2'),
         url('./font/museao/exljbris_-_museo-500-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}

@font-face {
    font-family: 'museo700';
    src: url('./font/museao/exljbris_-_museo-700-webfont.woff2') format('woff2'),
         url('./font/museao/exljbris_-_museo-700-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
